{% extends 'base.html.twig' %}
{% block title %}Votre profile utilisateur{% endblock %}
{% block content %}
<h1 class="p-5 text-center">Bienvenue sur le profil de {{user.name}}</h1>
<div class="shadow card mb-3 w-25 p-3 mx-auto ">
  <img src="https://cache.marieclaire.fr/data/photo/w1000_ci/1jv/idees-deco-salon2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title p-3">{{ user.name }}</h1>
    <p class="card-text">{{ user.description }}</p>
  </div>
</div>

{% for comment in comments %}
  <div class="card mt-5 w-25 mx-auto">
  <div class="card-body">
    <h5 class="card-title">{{ comment.title }}</h5>
    <p class="card-text">{{ comment.content }}</p>
    <p class="card-text text-muted text-left">De : {{ comment.pseudo}}</p>
  </div>
</div>
{% endfor %}
{% endblock %}